@use "../base/variables" as *;

.main_aside {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & .user_info {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    background: $white;
    border-radius: 0.5rem;

    & img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      object-fit: cover;
      background: $bgColor;
    }

    & .alias,
    & .followers {
      color: rgba($black, 0.6);
    }
  }
}
