@use "../base/variables" as *;

.posts_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 2rem;

  & > .header {
    padding-block: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $bgColor;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;

    & .search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      & form {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & input {
          height: 2.5rem;
          font-size: 1rem;
          padding-left: 1rem;
          border: none;
          outline: none;
          background: $white;
          width: 30rem;
          border-radius: 0.5rem;
          color: $black;
        }

        & button {
          position: absolute;
          right: 0;
          cursor: pointer;
          height: 100%;
          width: 2.5rem;
          background: $primary;
          fill: $white;
          border: none;
          border-radius: 0.5rem;

          & svg {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
    }
  }

  .posts_nav {
    background: $white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // position: sticky;
    list-style: none;
    border-radius: 0.5rem;
    width: 100%;

    & li {
      width: 10rem;
      cursor: pointer;
      font-weight: bold;
      padding-block: 1rem;
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .active {
      color: $primary;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background: $primary;
        bottom: 0;
        left: 0;
      }
    }
  }

  & .comments_section {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    background: rgba($black, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    & .coments_container {
      width: 30rem;
      height: 30rem;
      background: $white;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-direction: column;
      padding: 1rem;
      border-radius: 0.5rem 0.5rem 0 0;
      animation: see_comments 0.5s ease-in-out;

      @keyframes see_comments {
        from {
          bottom: -100rem;
        }
        to {
          bottom: 0;
        }
      }

      & .close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        cursor: pointer;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;

        & svg {
          width: 1.5rem;
          height: 1.5rem;
          fill: $primary;

          &:hover {
            fill: $error;
          }
        }
      }

      & form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin-inline: 1rem;
        inset-block-end: 0.5rem;
        padding-inline: 1rem;

        & input {
          width: 100%;
          height: 2.5rem;
          border: none;
          background: $bgColor;
          outline: none;
          font-size: 1rem;
          padding-left: 0.5rem;
          border-radius: 0.2rem;
          padding-right: 4rem;

          &:focus {
            border: 2px solid $primary;
            position: sticky;
          }
        }

        & button {
          height: 2.2rem;
          border: none;
          background: none;
          position: absolute;
          right: 1.5rem;
          cursor: pointer;

          & svg {
            width: 100%;
            height: 100%;
            fill: $primary;
          }
        }
      }
    }

    &.hide {
      bottom: -100%;

      & .coments_container {
        bottom: -100%;
        animation: hide_comments 0.5s ease-in-out;

        @keyframes hide_comments {
          from {
            bottom: 0;
          }
          to {
            bottom: -100rem;
          }
        }
      }
    }
  }
}
