@use "../base/variables" as *;

.comments_section {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  bottom: 0;
  background: rgba($black, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  & .coments_container {
    width: 30rem;
    height: 30rem;
    background: $white;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    animation: see_comments 0.5s ease-in-out;

    @keyframes see_comments {
      from {
        bottom: -100rem;
      }
      to {
        bottom: 0;
      }
    }

    & .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      cursor: pointer;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: none;

      & svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: $primary;

        &:hover {
          fill: $error;
        }
      }
    }

    & form {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      margin-inline: 1rem;
      inset-block-end: 0.5rem;
      padding-inline: 1rem;

      & input {
        width: 100%;
        height: 2.5rem;
        border: none;
        background: $bgColor;
        outline: none;
        font-size: 1rem;
        padding-left: 0.5rem;
        border-radius: 0.2rem;
        padding-right: 4rem;

        &:focus {
          border: 2px solid $primary;
          position: sticky;
        }
      }

      & button {
        height: 2.2rem;
        border: none;
        background: none;
        position: absolute;
        right: 1.5rem;
        cursor: pointer;

        & svg {
          width: 100%;
          height: 100%;
          fill: $primary;
        }
      }
    }
  }

  &.hide {
    bottom: -100%;

    & .coments_container {
      bottom: -100%;
      animation: hide_comments 0.5s ease-in-out;

      @keyframes hide_comments {
        from {
          bottom: 0;
        }
        to {
          bottom: -100rem;
        }
      }
    }
  }
}
