@use "../base/variables" as *;

.nav {
  background: $white;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;

  & .logo {
    text-decoration: none;
    color: $primary;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 0.2rem;
    padding: 1rem;
    padding-left: 2rem;

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 1.8rem;

    & img {
      width: 2rem;
    }
  }

  & .nav_links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    list-style-type: none;

    & li {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem;
      padding-left: 2rem;
      position: relative;

      & a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        color: rgba($black, 0.6);
        fill: rgba($black, 0.6);
        transition: ease-in-out 0.2s;
        width: 100%;

        &:hover {
          color: $black;
          fill: $black;
        }

        &.active {
          color: $primary;
          fill: $primary;
          transition: ease-in-out 0.2s;
        }

        &.active::after {
          content: "";
          width: 0.2rem;
          height: 100%;
          background: $primary;
          position: absolute;
          right: 0;
          transition: ease-in-out 0.2s;
        }

        & svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
